

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.header{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(252, 192, 102);
}

.menu1{
    list-style: none;
    display: flex;
    gap: 120px;
    margin: 0;
}




.search-box {
    display: flex;
    align-items: center;
}

input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button.search-button {
    background-color: #0074D9;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
}

button.search-button:hover {
    background-color: #0056b3;
}

.banner{
    background-color: rgb(252, 192, 102);
}

.bannertext{
    padding-top: 40px;
}
.bannertext button{
    border-radius: 15px;
}
.bannertext button:hover{
    background-color: #f7e898;
}

.bannerimg img{
    width: 1080px;
    height: 400px;
}